main {
    max-width: 1000px;
    margin-inline: auto;
    min-height: 100vh;
}


[data-theme="light"],
:root:not([data-theme="dark"]) {
  --suds-and-hoses-red: #D62F3E;
  --primary:white;
  --primary-hover:var(--suds-and-hoses-red);
  --primary-pico: white;
  --pico-primary-hover-underline: var(--suds-and-hoses-red);
  --pico-primary-hover: var(--suds-and-hoses-red);
  --pico-primary-underline:var(--suds-and-hoses-red);
  --pico-underline: white;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --pico-primary: white;
  --pico-color: white;
  --primary-inverse: #FFF;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --suds-and-hoses-red: #D62F3E;
    --primary:var(--suds-and-hoses-red);
    --primary-pico: white;
    --pico-primary-hover: var(--suds-and-hoses-red);
    --pico-primary-hover-underline: var(--suds-and-hoses-red);
    --pico-primary-underline:var(--suds-and-hoses-red);
    --pico-underline: white;
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --pico-color: white;
    --pico-primary: white;
    --primary-inverse: #FFF;
  }
}

[data-theme="dark"] {
  --suds-and-hoses-red: #D62F3E;
  --primary:var(--suds-and-hoses-red);
  --primary-hover:var(--suds-and-hoses-red);
  --primary-pico: white;
  --pico-primary-hover-underline: var(--suds-and-hoses-red);
  --pico-primary-underline:var(--suds-and-hoses-red);
  --pico-underline: white;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --pico-primary: #D62F3E;
  --pico-color: white;
  --pico-primary: white;
  --primary-inverse: #FFF;
}

*:focus {
  outline: 1px var(--suds-and-hoses-red);
}

:root {
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --backdrop-filter: blur(10px);         
  --bg-color: rgba(50,50,50,0.8);
  --mobile-break: 640px;
  --transparent-red: color-mix(in srgb, var(--primary-hover) 70%, transparent);
}

.styled-container {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--bg-color);
  box-shadow: 60px 16px var(--transparent-red);
  color: white;
  padding: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  gap: 1rem;
}

.styled-container > h1,h2,h3,h4,h5,h6 {
  color: white;
}

.styled-container > p {
  color: white;
}

a > h1,h2,h3,h4,h5,h6 {
  color: white;
  text-decoration: none;
}

a:hover  > h2 {
  color: var(--primary-hover)
}

/* * {
  border: 1px red solid;
}  */
