main {
    max-width: 1000px;
    margin-inline: auto;
    min-height: 100vh;
}


[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #000;
  --primary-pico: #D62F3E;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
  --nav-background: rgb(245, 245, 245);
  --green: rgb(74, 165, 123);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #fff;
    --primary-hover: #D62F3E;
    --primary-pico: #D62F3E;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #000;
    --nav-background: #11191f;
    --green: green;
  }
}

[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #d81b60;
  
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #FFF;
}

:root {
  --primary: #D62F3E;
  --primary-hover: #D62F3E;
  --primary-pico: #D62F3E;
  --pico-primary-hover-underline: #D62F3E;
  --pico-underline: white;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  --backdrop-filter: blur(10px);         
  --bg-color: rgba(50,50,50,0.8);
  --mobile-break: 640px;
  --transparent-red: color-mix(in srgb, var(--primary-hover) 70%, transparent);
}

.styled-container {
  backdrop-filter: var(--backdrop-filter);
  background-color: var(--bg-color);
  box-shadow: 60px 16px var(--transparent-red);
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  gap: 1rem;
}

.styled-container > h1,h2,h3,h4,h5,h6 {
  color: white;
}

.styled-container > p {
  color: white;
}

a > h1,h2,h3,h4,h5,h6 {
  color: white;
  text-decoration: none;
}

a:hover  > h2 {
  color: var(--primary-hover)
}

/* * {
  border: 1px red solid;
}  */
